
ul#todo-list{
    padding-left: 0;
    margin: 20px 30px 20px 20px;
    height: 251px;
    overflow-y: auto;

    li.todo-list-item{
        padding: 10px;
        background-color: $item-list;
        list-style: none;
        border: 1px solid $main;
        margin-bottom: 15px;

        &odd{
            background-color: $item-list-darker;
        }

        p.todo-list-subject{
            margin: 0;
            text-align: left;
            font-size: 1.5em;
        }
        p.todo-list-expdate{
            margin: 0;
            text-align: right;
            font-size: 1em;
        }
    }
}