$main: #300571;
$label: rgb(107, 48, 194);
$item: #6749D7;
$item-list: rgb(96, 33, 189);
$item-list-darker: rgb(75, 19, 160);
$input: rgb(179, 157, 211);
$button: #9A3FD5;

$header: rgb(215, 207, 241);
$paragraph: rgb(240, 238, 247);